ul {
  list-style: none;
}
a {
  text-decoration: none;
}
footer.footer {
  background-color: #0f0f0f;
}
.footer__container {
  margin: 0 auto;
  max-width: 358px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: stretch;
}
.footer__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  align-self: stretch;
}
.footer__item {
  display: flex;
  flex-direction: column;
  width: 179px;
  max-width: 179px;
  gap: 16px;
}

* {
  padding: 0;
}
.footer__item > p {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.footer-list___item {
  color: #999;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}
.fo {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%; /* 24px */
  width: 40v;
}
.footer__contacts {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer__content{
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  border-top: #999;
}
.content__text:first-of-type > p {
  color: #999;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.content__text:last-of-type {
  color: #999;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
 
  a{
    border-right: #999;
    
  }
}
