.body{
    background-color: #141414;    
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 5px;
}

.background-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Image-container/Group\ 1.png");
  background-size: cover;
  filter: blur(8px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.content {
  position: relative;
  z-index: 2;
  padding: 20px;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.button {
  display: inline-block;
  background-color: #e50914;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.desing{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  top: 195px;
  width: 470px;
  height: 470px;
}