.play-now__container {
    margin: 0 auto;
    width: 358px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 24px 16px 24px;
    gap: 20px;
    flex-shrink: 0;
    overflow: hidden;
}

.play-now__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,
            rgba(20, 20, 20, 1) 0%,
            rgba(20, 20, 20, 0) 100%);
    z-index: 2;
}

.play-now {
    background-color: #141414;
}

.play-now-image {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;

}

.play-now__text {
    display: none;
}

.play-now__wrapper {
    position: relative;
    z-index: 5;
    padding-top: 276px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.play-now__icons {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.play-now__title {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}

.play-now__elements {
    display: none;
}

.play-now__button {
    display: flex;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 8px;
    background: #E50000;

}

.play-now__content {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

@media (min-width: 1440px) {
    .play-now__container {
        width: 1280px;
        padding: 0 40px 16px 40px;
        gap: 40px;
    }

    .play-now__text {
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: #999999;
        text-align: center;
    }

    .play-now__title {
        font-size: 30px;
    }

    .play-now__al-button-container {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .play-now__content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .play-now__wrapper {
        padding-inline: 120px;
        padding-top: 434px;
    }

    .play-now__elements {
        display: block;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .play-now__btn {
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #1F1F1F;
        background: #0F0F0F;
    }

    .play-now__items {
        display: flex;
        gap: 3px;
    }

    .play-now__item {
        width: 16px;
        height: 4px;
        border-radius: 100px;
        background: #333;
    }

    .play-now__item:first-child {
        background: #E50000;
    }

    .play-now__nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        border-radius: 12px;
    }
}

@media (min-width: 1920px) {
    .play-now__container {
        width: 1594px;
        padding: 0px 50px 20px 50px;
        gap: 50px;
    }

    .play-now__text {
        font-size: 18px;
    }

    .play-now__title {
        font-size: 38px;
        padding-bottom: 4px;
    }

    .play-now__wrapper {
        padding-top: 508px;
        gap: 30px;
        padding-inline: 150px;
    }

    .play-now__icons {
        gap: 10px;
    }

    .play-now__button {
        padding: 14px 24px;
        font-size: 18px;

    }

    .play-now__btn {
        padding: 14px;

    }
}

 .movies {
    background: #141414;
    padding-top: 85px;
}
.movies__container{
    margin: 0 auto;
    width: 358px;
}
.movies__container {
    overflow: hidden;
    padding-left: 16px;
}
.button-container{
    display: flex;
padding: 8px;
align-items: center;
align-self: stretch;
border-radius: 8px;
border: 1px solid #262626;
background: #0F0F0F;
}
.movies-choose{
    display: flex;
padding: 12px 20px;
justify-content: center;
align-items: center;
gap: 10px;
flex: 1 0 0;
border-radius: 6px;
background:  none;
color: #999;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%;
}
.movies-choose:hover{
    background-color: #1F1F1F;
    color: #FFF;
}
h2{
    color: #FFF;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 150%;
}
.our-gener__cards{
    display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
border-radius: 10px;
border: 1px solid #262626;
margin: 0px 8px 0px 8px;

}
.our-gener__cards-cont{
    display: flex;
    flex-direction: row;
    

}
.card__text{
    color:  #FFF;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 150%;
width: 121px;
}
.card-elements{
    display: flex;
    
}
.top10__card-text{
    color: #FFF;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
}
.top10__cards-cont{
    display: flex;
}
.top10__cards{
    display: flex;
height: 268px;
padding: 20px;
flex-direction: column;
margin: 0px 8px 0px 8px;
border-radius: 12px;
border: 1px solid  #262626;
background: #1A1A1A;
}
.top10__card-button{
    display: flex;
padding: 8px;

gap: 10px;
border-radius: 4px;
background: #E50000;

}
.top10__button-text{
    color: #FFF;
font-family: Manrope;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 150%;
}

