
.header__container{
    margin:  0 auto;
    width: 357px;
}
    .header{
        display: flex;
        padding: 40px 0px 14px 0px;
        width: 100%;

    }
    .header-logo{
        display: flex;
        width: 116.083px;
        align-items: center;
        gap: 1.75px;

    }
    .header-logo-image:first-child{
        width: 35px;
        height: 35px;
    }
    .header-logo-image:last-child{
        width: 12px;
        height: 12px;
        display: flex;
        transform: translateY(50%);
        align-items: center;

    }

    .header-logo-text{
        width: 79.333px;
    height: 11.667px;

    }
    .header-buttons-container{
        display: none;
    }
    .header-buttons-pc{
        display: none;  
    }
    .header-last-button{
        display: flex;
        justify-content: center; 
        padding: 12px;
        gap: 10px;
        border-radius: 6px;
        border: 3px solid var(--Black-15, #262626);
        background: var(--Black-10, #1A1A1A);
    }
@media (min-width: 1439px) and (max-width:1920px) {
    body{
        background-color: #1F1F1F;
        width: 1440px;
        height: 2755px;
    }
    .header{
        display: flex;
        width: 1439px;
        padding: 24px 80px;
        justify-content: space-between;
        align-items: center;
    }
    .header-logo{
        display: flex;
        width: 165.833px;
        justify-content: center;
        align-items: center;
        gap: 2.5px;
    }
    .header-logo-image{
        width: 50px;
        height: 50px;
    }
    .header-logo-text{
        width: 113.333px;
        height: 16.667px;
        flex-shrink: 0;
    }
    .header-logo-in-image{
        width: 16.96px;
        height: 16.96px;
        position: absolute;
        left: 97px;
    }
    .text{
        color: #FFF;
        line-height: 150%; 
        font-family: Manrope;
    }
    .header-buttons-container{
        display: flex;
        padding: 8px 8px 8px 30px;
        align-items: center;
        gap: 16px;
        position: absolute;
        right: 516.5px;
        top: 18px;
        border-radius: 12px;
        border: 4px solid  #1F1F1F;
        background: #0F0F0F;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
    }
    .header-buttons-pc{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }
    .header-buttons-pc-first{
        width: 24px;
        height: 24px;
    }
    .header-buttons-pc-second{
        width: 24px;
        height: 24px;
    }
    .header-last-button{
        display: none;
    }

}
@media (min-width: 1921px){
    body{
        background-color: #1F1F1F;
        width: 1920px;
        height: 3340px;
    }
    .header{
        display: flex;
        width: 1921px;
        padding: 30px 162px;
        justify-content: space-between;
        align-items: center;
    }
    .header-logo{
        display: flex;
        width: 199px;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }
    .header-logo-in-image{
        position: absolute;
        left: 183px;
    }
    .text{
        color: #FFF;
        line-height: 150%; 
        font-family: Manrope;
    }
    .header-buttons-container{
        display: flex;
        padding: 10px 10px 10px 40px;
        align-items: center;
        position: absolute;
        right: 682px;
        top: 30px;
        gap: 30px;
        border-radius: 12px;
        border: 4px solid  #1F1F1F;
        background: #0F0F0F;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
    }
    .header-buttons{
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .header-buttons-pc{
        display: flex;
        gap: 30px;
        
    }
    .header-last-button{
        visibility: hidden;
    }
}