.play-show {
  background: #141414;
}

.play-show__container {
  gap: 20px;
  position: relative;
  max-width: 358px;
  display: flex;
  padding: 276px 24px 16px 24px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  border-radius: 12px;
  border: 1px solid #262626;
  background-position: center;
  background-size: cover;
  background-image: url(../img/play-show/playy.jpg);
}

.play-show__container::after {
  position: absolute;
  border-radius: 12px;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0) 100%);
}

.play-show__wrapper {
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.play-show__title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
}

.play-show__text {
  display: none;
}

.play-show__box {
  z-index: 3;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.play-show__btn {
  border-radius: 8px;
  background: #e50000;
  color: #fff;
  width: 100%;
  font-size: 14px;
  line-height: 1.2;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.play-show__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (min-width: 1440px) {
  .play-show__container {
    display: flex;
    max-width: 1280px;
    padding-top: 522px;
    gap: 24px;
  }

  .play-show__title {
    font-size: 30px;
    line-height: 1.6;
  }

  .play-show__text {
    color: #999;
    display: block;
    line-height: 1.5;
  }

  .play-show__box {
    flex-direction: row;
    width: auto;
    gap: 20px;
  }

  .play-show__icons {
    gap: 8px;
  }
}

@media (min-width: 1920px) {
  .play-show__container {
    max-width: 1594px;
    padding: 641px 0 20px 0;
    align-items: center;
    gap: 30px;
  }

  .play-show__title {
    font-size: 38px;
  }

  .play-show__text {
    font-size: 18px;
  }
}

.season__container {
  width: 358px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid #262626;
  background: #1a1a1a;
}

.season__text#hide {
  display: none;
}

.season__title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.season__garbage {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.season__box {
  display: flex;
  padding: 16px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #262626;
  background: #0f0f0f;
}

.season__pot {
  display: flex;
  justify-content: space-between;
}

.season__flap {
  display: flex;
  align-items: center;
  gap: 6px;
}

.season__subtitle {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.season__text {
  color: #999;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.season__btn {
  background-color: transparent;
}

.season__wrapper {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid #262626;
  background: #0f0f0f;
}

.season__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.season__item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 8px;
  background: #141414;
}

.season__canistra {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.season__canistra#image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.season__play {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
}

.season__num {
  color: #999;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
}

.season__time {
  width: 80px;
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  border: 1px solid #262626;
  background: #141414;
}

.season__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 1440px) {
  .season__container {
    width: 850px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 30px;
  }

  .season__title {
    font-size: 20px;
  }

  .season__garbage {
    gap: 20px;
  }

  .season__flap {
    gap: 10px;
  }

  .season__item {
    display: flex;
    flex-direction: row;
    padding: 30px 0px 40px 0px;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    background: none;
    border-radius: 0;
    justify-content: end;
  }

  .season__canistra#image {
    flex-direction: row-reverse;
  }

  .season__info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .season__play {
    transform: translate(0%, -50%);
  }

  .season__text#hide {
    display: block;
  }
}

@media (min-width: 1920px) {
  .season__container {
    width: 1062px;
    padding: 40px;
  }

  .season__title {
    font-size: 24px;
  }

  .season__subtitle {
    font-size: 20px;
  }

  .season__text {
    font-size: 18px;
  }

  .season__item {
    padding: 40px 0px;
    gap: 20px;
    justify-content: start;
  }

  .season__num {
    width: 60px;
    font-size: 30px;
  }

  .season__time {
    width: 100px;
    padding: 8px 10px;
    gap: 4px;
  }
}

.description-show__container {
  width: 358px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid #262626;
  background: #1a1a1a;
}

.description-show__title {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
}

.description-show__text {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

@media (min-width: 1440px) {
  .description-show__container {
    width: 850px;
    gap: 10px;
    padding: 40px;
  }

  .description-show__title {
    font-size: 16px;
  }

  .description-show__text {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  .description-show__container {
    width: 1062px;
    gap: 14px;
    padding: 50px;
  }

  .description-show__title {
    font-size: 18px;
  }

  .description-show__text {
    font-size: 18px;
  }
}

.cast-show__container {
  width: 358px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid #262626;
  background: #1a1a1a;
}
.cast-show__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cast-show__text {
  color: #999;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.cast-show__btn {
  background-color: transparent;
}

.cast-show__images {
  display: flex;
  gap: 10px;
}
.cast-show__images#last {
  display: none;
}
@media (min-width: 1440px) {
  .cast-show__container {
    width: 850px;
    padding: 40px;
    gap: 20px;
  }
  .cast-show__box {
    display: flex;
    flex-wrap: nowrap;
    gap: 65px;
  }
  .cast-show__images#last {
    display: flex;
  }
}
@media (min-width: 1920px) {
  .cast-show__container {
    width: 1062px;
    padding: 50px;
    gap: 30px;
  }
  .cast-show__box {
    display: flex;
    flex-wrap: nowrap;
    gap: 80px;
    justify-content: center;
  }
  .cast-show__images {
    gap: 30px;
  }
  .cast-show__images#last {
    display: flex;
  }
}

.reviews__container {
  width: 358px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 10px;
  border: 1px solid #262626;
  background: #1a1a1a;
}

.reviews__together {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.reviews__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__text {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.reviews__btn {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  border: 1px solid #262626;
  background: #141414;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #262626;
  background: #0f0f0f;
}

.reviews__wrapper:last-child {
  display: none;
}

.reviews__title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.reviews__reting {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  gap: 2px;
  border-radius: 51px;
  border: 1px solid #262626;
  background: #141414;
}

.reviews__swipe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.reviews__cover {
  display: flex;
  gap: 3px;
}

@media (min-width: 1440px) {
  .reviews__container {
    width: 850px;
    padding: 40px;
    gap: 30px;
  }

  .reviews__text {
    font-size: 16px;
  }

  .reviews__evaluation {
    display: flex;
    gap: 16px;
  }

  .reviews__wrapper {
    padding: 30px;
    width: 377px;
  }

  .reviews__wrapper:last-child {
    display: flex;
  }

  .reviews__title {
    font-size: 18px;
  }
}

@media (min-width: 1920px) {
  .reviews__container {
    width: 1062px;
    padding: 50px;
    gap: 40px;
  }

  .reviews__text {
    font-size: 18px;
  }

  .reviews__btn {
    padding: 14px 16px;
    font-size: 18px;
  }

  .reviews__img {
    width: 30px;
  }

  .reviews__wrapper {
    width: 471px;
    padding: 40px;
    gap: 20px;
  }

  .reviews__title {
    font-size: 20px;
  }
}