.plan {
  background-color: #141414;
}

.text {
  color: #fff;
  line-height: 150%;
  font-family: Manrope;
}

.text-grey {
  line-height: 150%;
  font-style: normal;
  font-family: Manrope;
  color: var(--Grey-60, #999);
}

section {
  padding-top: 40px;
}

.plan__container {
  margin: 0 auto;
  width: 358px;
}

.container__gap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.plan-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}

.plan-text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.plan-text-content:first-child {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.plan-text-join {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.plan-text-month-or-year {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #262626;
  align-items: center;
  line-height: 100%;
  display: flex;
  font-weight: 500;
  border-radius: 10px;
}

.plan-text-month-or-year li {
  padding: 14px 24px;
}

.plan-text-month-or-year-year {
  font-size: 14px;
}

.plan-price {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plan-price-different {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 10px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-10, #1a1a1a);
}

.plan-price-different-in {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan-price-different-in h3 {
  font-size: 18px;
  font-weight: 700;
}

.plan-price-different-in p {
  font-size: 14px;
}

.plan-price-per-month {
  font-size: 24px;
  font-weight: 600;
  line-height: 73%;
}

.plan-price-per-month span {
  font-size: 14px;
  font-weight: 500;
  line-height: 73%;
}

.plan-start-or-choose {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.plan-start {
  border-radius: 8px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-08, #141414);
  font-size: 14px;
  font-weight: 600;
  padding: 14px 25px;
}

.plan-choose {
  padding: 14px 25px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  background: var(--Red-45, #e50000);
}

@media (min-width: 1440px) {
  section {
    display: flex;
  }

  .plan__container {
    width: 1280px;
  }

  .container__gap {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .plan-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 100px;
  }

  .plan-text-content {
    line-height: 150%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .plan-text-content:first-child {
    font-size: 28px;
    font-weight: 700;
  }

  .plan-text-join {
    font-size: 16px;
    font-weight: 400;
  }

  .plan-text-month-or-year {
    line-height: 100%;
    display: flex;
    transform: translateY(20%);
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-06, #0f0f0f);
  }

  .plan-text-month-or-year li {
    padding: 14px 24px;
  }

  .plan-text-month-or-year-month {
    border-radius: 10px;
    background: var(--Black-12, #1f1f1f);
  }

  .plan-price {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .plan-price-different {
    width: 100%;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border-radius: 10px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-10, #1a1a1a);
  }

  .plan-price-different-in {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }

  .plan-price-different-in h3 {
    font-size: 20px;
    font-weight: 700;
  }

  .plan-price-different-in p {
    height: 72px;
    font-weight: 400;
    align-self: stretch;
  }

  .plan-price-per-month {
    font-size: 30px;
    font-weight: 600;
    line-height: 73%;
  }

  .plan-start-or-choose {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
  }

  .plan-start {
    border-radius: 6px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    padding: 14px 30px;
    gap: 10px;
  }

  .plan-choose {
    display: flex;
    padding: 14px 30px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    background: var(--Red-45, #e50000);
  }
}

@media (min-width: 1920px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
  }

  .plan__container {
    width: 1596px;
  }

  .plan-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
  }

  .plan-text-content {
    width: 1259px;
    line-height: 150%;
    align-self: stretch;
  }

  .plan-text-content:first-child {
    font-size: 48px;
    font-weight: 700;
  }

  .plan-text-join {
    font-style: normal;
    font-weight: 400;
  }

  .plan-text-month-or-year {
    padding: 10px;
    line-height: 100%;
    display: flex;
    transform: translateY(50%);
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-06, #0f0f0f);
  }

  .plan-text-month-or-year li {
    padding: 14px 24px;
  }

  .plan-text-month-or-year-month {
    border-radius: 10px;
    background: var(--Black-12, #1f1f1f);
  }

  .plan-price {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .plan-price-different {
    width: 0 auto;
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    border-radius: 10px;
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-10, #1a1a1a);
  }

  .plan-price-different-in {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .plan-price-different-in h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }

  .plan-price-different-in p {
    height: 81px;
    font-weight: 400;
    align-self: stretch;
  }

  .plan-price-per-month {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 73%;
  }

  .plan-start-or-choose {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }

  .plan-start {
    border: 1px solid var(--Black-15, #262626);
    background: var(--Black-08, #141414);
    font-size: 18px;
    font-weight: 600;
    padding: 18px 34px;
    gap: 10px;
  }

  .plan-choose {
    padding: 18px 34px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background: var(--Red-45, #e50000);
  }
}