@import "./universal/characteristic/characteristic.css";
@import "./universal/description/description.css";
@import "./universal/footer/footer.css";
@import "./universal/header/header.css";
@import "./universal/plan/plan.css";
@import "./universal/play/play.css";
@import "./universal/reset.css";
@import "./universal/questions/questions.css";
@import "./universal/reviews/reviews.css";
@import "./universal/start/start.css";
@import "./support/support.css";
@import "./subscription/subscription.css";
@import "./home/home.css";
@import "./movies-shows/movies-shows.css";
@import "./shows/shows.css";
@import "./movies/movies.css";

@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}