.questions {
  background-color: #141414;
}
.questions__container {
  margin: 0 auto;
  max-width: 1280px;
}
.questions__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
}
.questions__wrapper-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.questions-wrapper__logo {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.questions-wrapper__text {
  color: #999;
  font-size: 14px;
  font-weight: 400;
}
.questions-wrapper__btn {
  width: 140px;
  padding: 20px 14px;
  border-radius: 6px;
  background: #e50000;
  color: #fff;
}

.questions__list:first-of-type li:nth-child(1) {
  display: flex;
  flex-direction: column;
  .questions__content {
    display: flex;
    gap: 16px;
  }
  .questions__text-number {
    color: #fff;
  }
}
.questions__name {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.questions__items {
  display: flex;
  gap: 12px;
  position: relative;
  padding: 30px;

  .questions__number {
    max-width: 44px;
    max-height: 46px;
    color: #fff;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #262626;
    background: #1f1f1f;
  }
  .questions__logo-content {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    max-width: 240px;
    line-height: 22px;
  }
  .questions__logo-content::after {
    content: "";
    /* display: block; Зробити псевдоелемент блоковим */
    width: 24px; /* Вкажіть ширину */
    height: 24px;
    position: absolute;
    right: 10px;
    background-image: url("../img/icon/plus.svg");
  }
}
.questions__list:last-of-type li:nth-last-child(-n + 2) {
  display: none;
}
.questions__list:first-of-type li:nth-child(4)::after {
  background: none;
}
.questions__items::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(229, 0, 0, 0) 0%,
    #e50000 16.67%,
    rgba(229, 0, 0, 0) 100%
  );
}
@media (min-width: 1440px) {
  .questions__container {
    gap: 60px;
  }
  .questions__name {
    flex-direction: row;
    gap: 40px;
  }
  .questions__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .questions-wrapper__logo {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
  }
  .questions-wrapper__text {
    color: var(--Grey-60, #999);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .questions-wrapper__btn {
    align-self: end;
  }
  .questions__list:last-of-type li:nth-last-child(-n + 2) {
    display: flex;
  }
  .questions__list {
    width: 100%;
  }
  .questions__logo-content::after {
    top: 33px;
  }
  .questions__list:first-of-type .questions__items:first-of-type {
    display: flex;
    flex-direction: column;

    .questions__content {
      display: flex;
      gap: 16px;
    }
    .questions__text-number {
      color: var(--Grey-60, #999);
      font-size: 16px;
      font-weight: 400;
      margin-left: 60px;
    }
  }
  .questions__list:last-of-type li:last-of-type::after {
    display: none;
  }
  .questions__items {
    flex-direction: row;
    padding: 24px 24px 24px 0;
  }

  .questions__number {
    padding: 16px;
  }

  .questions__logo-content {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
}
@media (min-width: 1920px) {
  .questions-wrapper__logo {
    font-size: 38px;
    font-weight: 700;
    line-height: 57px;
  }
  .questions-wrapper__text {
    font-size: 18px;
    font-weight: 400;
  }
  .questions__logo-content {
    font-size: 22px;
    line-height: 33px; /* 33px */
  }
  .questions__number{
    padding: 20px;
  }
}
