.start {
  background: #141414;
}
.container {
  margin: 0 auto;
}
.start__container {
  border-radius: 12px;
  border: 1px solid #262626;
  background: #0f0f0f;
  padding: 30px 50px;
  margin: 80px 16px;
  background-image: url();
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background: linear-gradient(
    180deg,
    rgba(15, 15, 15, 1) 0%,
    rgba(20, 15, 15, 1) 20%,
    rgba(34, 14, 14, 0.9) 75%,
    rgba(229, 0, 0, 0.30024509803921573) 100%
  );
}

.title {
  color: #fff;
}
.start__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 2.1;
}
.text {
  color: #999;
}
.start__text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.1;
}
.btn {
  border-radius: 8px;
  background: #e50000;
  color: #fff;
}
.start__btn {
  padding: 14px 20px;
  font-size: 14px;
}

@media (min-width: 1440px) {
  .start__container {
    margin: 120px 80px;
    padding: 87px 62px;
    gap: 100px;
    flex-direction: row;
    background-image: url();
    background: linear-gradient(
      90deg,
      rgba(15, 15, 15, 1) 0%,
      rgba(20, 15, 15, 1) 20%,
      rgba(34, 14, 14, 0.9) 75%,
      rgba(229, 0, 0, 0.30024509803921573) 100%
    );
  }
  .start__box {
    width: 911px;
  }
  .start__title {
    text-align: left;
    font-size: 28px;
  }
  .start__text {
    text-align: left;
    font-size: 16px;
  }
  .start__btn {
    margin: 0 0 0 auto;
  }
}

@media (min-width: 1920px) {
  .start__container {
    margin: 135px 162px;
    padding: 115px 80px;
    background-image: url();
    background: linear-gradient(
        90deg,
        rgba(15, 15, 15, 1) 0%,
        rgba(20, 15, 15, 1) 20%,
        rgba(34, 14, 14, 0.9) 75%,
        rgba(229, 0, 0, 0.30024509803921573) 100%
      );
  }
  .start__box {
    width: 1148px;
  }
  .start__title {
    font-size: 48px;
    font-weight: 700;
  }
  .start__text {
    font-size: 18px;
  }
  .start__btn {
    margin: 0 0 0 auto;
    font-size: 18px;
    line-height: 2.1;
  }
}
