.section-second {
  padding-top: 80px;
}
.container__gap__second {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section-text-about-subscription {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section-text-about-subscription h2 {
  font-size: 24px;
  font-weight: 700;
}
.section-table {
  display: none;
}
.container-mobile {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.section-plan-basic-standart-premium-mobile {
  padding: 8px;
  align-items: center;
  line-height: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-06, #0f0f0f);
  align-items: stretch;
}
.section-plan-basic-standart-premium-mobile li {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
}
.container-table-mobile {
  color: white;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-06, #0f0f0f);
}
.container-table-mobile-first {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
}
.container-table-mobile-first p {
  width: 140px;
  font-weight: 500;
}
@media (min-width: 1339px) and (max-width: 1919px) {
  .section-second {
    padding-top: 100px;
  }
  .container__gap__second {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
 table{
    width: 1275px;
 }
  .container-mobile {
    display: none;
  }
  .section-table{
    display: table;
    width: 100%; 
    border-collapse: collapse;
    table-layout: fixed;
    
  }
  th, td{
    padding: 24px;
    color: white;
  }

}
